header {
  text-align: center;
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  width:100%;
}

ul li {
  list-style-type: none;
  float:left;
}

li {
  margin-inline: 5px;
}

button {
  width:100px;
  height:40px;
  border-radius: 10px;
  border: 0;
}


.good {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  height:500px;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url('https://t1.daumcdn.net/news/202204/12/hankooki/20220412130005556fzld.jpg');
}

.good .contentTitle {
  color:white;
  font-size:60px;
  margin-block: 30px;
}

.good hr {
  width:200px;
  height:25px;
  background-color: orange;
  border:0
}

.good h2 {
  font-size: 60px;
  color: white;
  margin-block: 30px;
}

.good p {
  font-size: 20px;
  line-height: 0;
  color:white;
  font-weight: bold;
}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article {
  display:inline-block;
  background-color:whitesmoke; 
  width:300px;
  height:300px;
  border-radius:30px;
  margin:15px
}
article > img {
  width:280px;
  height:50%;
}

.about .contentTitle {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.githubButton {
  background-color:black;
  color:white;
  width:150px;
}



.skill {
  display:inline-block;
  padding-inline:25px;
}

* {
  text-align: center;
}